<footer style="position:relative; bottom: -40 ;background: white">
    <div class="wrapper">
        <div class="one"><a href="https://www.groupe-pomona.fr/" class="text-success text-primary" target="_blank"><img
                    src="/img/logo-groupepomona.png" /></a></div>
        <div class="two"><a href="https://www.terreazur.fr/" class="text-success text-primary" target="_blank"><img
                    src="/img/logo-terreazur.png"></a></div>
        <div class="three"><a href="https://www.episaveurs.fr/" class="text-success text-primary" target="_blank"><img
                    src="/img/logo-episaveurs.png"></a></div>
        <div class="four"><a href="https://www.groupe-pomona.fr/reseaux/relais-dor" class="text-success text-primary"
                target="_blank"><img src="/img/logo-relais d'or.png"></a></div>
        <div class="five"><a href="https://www.deliceetcreation.fr/" class="text-success text-primary"
                target="_blank"><img src="/img/logo-deliceetcreation.png"></a></div>
        <div class="six"><a href="https://www.saveursdantoine.fr/" class="text-success text-primary"
                target="_blank"><img src="/img/logo-saveursdantoine.png"></a></div>
        <div class="seven"><a href="https://www.pomona-suisse.ch/" class="text-success text-primary"
                target="_blank"><img src="/img/logo-pomona-suisse.png"></a></div>
        <div class="eight"><a href="https://friolisa.es/" class="text-success text-primary" target="_blank"><img
                    src="/img/logo-pomona-iberia.png"></a></div>
    </div>
</footer>