<div class="row">
    <!-- MAIL -->
    <div class="col-6">
        <label class="form-label">Mail</label>
        <input class="form-control" type="email" name="loginMail" required>
        <br>
    </div>

    <!-- MOT DE PASSE -->
    <div class="col-6">
        <label class="form-label">Mot de passe</label>
        <input class="form-control" type="password" name="loginPassword" required>
        <br>
    </div>
</div>