<h2 style="text-align: center;"> Se connecter </h2>

<form action="/users/login" method="POST" autocomplete="off">

    <%- include('forms/_forms_login.ejs') %>
    <br>
    <br>
    
    <a class="btn btn-outline-secondary" href="/users/register">Créer un compte</a>
    <button type="submit" class="btn btn-context">Se connecter</button>
</form>