<h2 style="text-align: center;"> Se connecter </h2>

<form action="/users/userLogin" method="POST" autocomplete="off" class="container">

    <%- include('forms/_forms_login.ejs') %>
    <br>
    <br>
    
    <a class="btn btn-outline-secondary" href="/users/register">S'inscrire</a>
    <button type="submit" class="btn btn-context">Se connecter</button>
</form>