<h2 style="text-align: center;"> Créer un compte </h2>

<form action="/user/userRegister" method="POST" autocomplete="off" class="container">

    <%- include('forms/_forms_register.ejs') %>
    <br>
    <br>

    <a class="btn btn-outline-secondary" href="/user/login">Se connecter</a>
    <button type="submit" class="btn btn-context">S'inscrire</button>
</form>