<div class="row">
    <div class="col-12">
        <label for="currentProductName">Nom</label>
        <input type="text" name="productName" 
        id="currentProductName" class="form-control">
    </div>

    <div class="col-6">
        <label for="currentProductTags">Tags</label>
        <input type="text" name="productTags" 
        id="currentProductTags" class="form-control">
    </div>

    <div class="col-6">
        <label for="currentProductDate">Date limite d'utilisation</label>
        <input type="date" name="productDate" 
        id="currentProductDate" class="form-control">
    </div>

    <div class="col-6 form-check form-switch">
        <input type="checkbox" name="productIsProduct"
        id="currentProductIsProduct" class="form-check-input" >
        <label class="form-check-label" 
        for="currentProductIsProduct">Contient un produit</label>
    </div>

    <div class="col-6 form-check form-switch">
        <input type="checkbox" name="productIsInstitu"
        id="currentProductIsInstitu" class="form-check-input" >
        <label class="form-check-label" 
        for="currentProductIsInstitu">Photo Institutionnelle</label>
    </div>

    
    <div class="col-6 form-check form-switch">
        <input type="checkbox" name="productIsHuman"
        id="currentProductIsHuman" class="form-check-input" >
        <label class="form-check-label" 
        for="currentProductIsHuman">Contient un humain</label>
    </div>

    
    <div class="col-6 form-check form-switch">
        <input type="checkbox" name="productIsCopyrighted"
        id="currentProductIsCopyrighted" class="form-check-input" >
        <label class="form-check-label" 
        for="currentProductIsCopyrighted">Sous copyright</label>
    </div>
</div>